@charset "ISO-8859-1";
GEEKFORGEEKS {                                         
    margin-left: 70px; 
    font-weight: bold ; 
    float: left; 
    clear: left; 
    width: 100px; 
    text-align: left; 
    margin-right: 10px; 
    font-family:sans-serif,bold, Arial, Helvetica; 
    font-size:14px; 
} 
   
 
   
form { 
	margin-top:50px;
    margin-left:750px; 
    width: 600px; 
}

.section2{
       display:inline-block;
       margin:0px auto;
}

#button
{
       background-color:#66d9ff;
       padding:#66d9ff;
}

.textbox {
	display:inline;
   border: 5px solid #cccccc; 
   outline:10px; 
   height:30px; 
   width: 400px; 
}
.subtitle{
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-weight: bold ; 
	
}
 body{
     background-image: url("login-background.jpg");
       overflow: hidden; height: 100%;
       margin:0; padding:0;
      z-index:-1;
   }
   form .search{
     display:inline-block;
    margin-left:10px; 
   margin-top: 10px;
   }
  